<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мессенджер</title>
</head>
<body>
<h1 align = "center">
    Добро пожаловать в чат!
</h1>
<h2>
    Основной функционал данного приложения:
</h2>
<ul>
    <li>
        Регистирация новых пользователей.
    </li>
    <li>
        Отправка сообщений другим пользователям.
    </li>
    <li>
        Просмотр информации о пользователе в его профиле.
    </li>
</ul>
<h2>
    Выберите, что вы хотите сделать:
</h2>
    <ul>
        <li>
            Нет еще аккаунта, создайте его!
        </li>
        <li>
            Уже есть аккаунт, войдите в него!
        </li>
        <li>
            Забыли пароль? Восстановить
        </li>
    </ul>
</body>
</html>
